.search-header{
    text-align: center;
    font-size: 2rem;
    color: #ccc;
}

.search-header h2{
    text-transform: uppercase;
    letter-spacing: 6px;
}

.search-header p{
    letter-spacing: 2px;
}

.search-header button{
    background-color: rgb(115, 0, 150);
    box-shadow: 8px 8px 10px -12px rgb(0, 0, 0);
    color: white;
    margin: 1rem 0;
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.search-header button:hover{
    background-color: rgb(158, 0, 207);
}